body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(#444444, #1c1c1c);
    height: 100vh;
    color: #d5d5d5;
    font-size: 25px;
}

body header {
    padding: 0px;
    background-color: #1a1a1a;
}

body header nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.timeleft {
    display: flex;
    width: 20%;
    flex-direction: row;
}

body header nav span h3 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div ul {
    display: none;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

main div ul li {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
    background-color: #3c3c3c;
    border-radius: 15px;
}

main div ul li:hover {
    background-color: #29abf6ef;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    background-color: #1a1a1a;
    border-radius: 10px;
    width: 50%;
    height: 50vh;
}

main div button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-self: center;
}

.startQuiz {
    background-color: #3c3c3c;
    user-select: none;
    display: flex;
    font-size: 20px;
    color: #d5d5d5;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: none;
    border-radius: 15px;
}

.back-button {
    background-color: #1a1a1a;
    user-select: none;
    display: flex;
    font-size: 20px;
    color: #d5d5d5;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: none;
    border-radius: 15px;
}

.back-button:hover {
    background-color: #29abf6ef;
}

.startQuiz:hover {
    background-color: #29abf6ef;
}

.quiz-content h2 {
    display: none;
    text-align: center;
    user-select: none;
    justify-content: center;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.THE-LINE {
    align-self: center;
    height: 2px;
    background-color: #3c3c3c;
    width: 95%;
}


form {
    display: none;
    align-self: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #3c3c3c;
    font-size: 35px;
    color: #d5d5d5;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: none;
    border-radius: 15px;
}


.high-scores {
    width: 70%;
    display: none;
    user-select: none;
    flex-direction: column;
}

.high-scores nav {
    display: flex;
    flex-direction: row;
}


.view-scores {
    user-select: none;
}

.players {
    list-style: none;
}

.player {
    user-select: none;
}